// Import page-specific CSS files here.
@import "home";

// General CSS

.main {
  background-image: linear-gradient(to right, rgba(19, 54, 85, 0.961), #962b32fc);
  padding-top: 16px;
}

.individual {
  background-image: linear-gradient(to right, rgb(19, 54, 85), #962b32);
  height: 1500px;
}

.center {
  text-align: center;
}

.char {
  height:150px;
  width:150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  color: white;
}

h1 {
  color: white;
}

.force-img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sith-img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #402b45;
  color: white;
  margin: 4px;
  border-radius: 4px;
  padding: 12px;
  padding-left: 16px;
  // display: grid;
  // grid-template-columns: 1fr, 1fr, 1fr, 1fr;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(196, 104, 104);
  text-decoration: none;
}
.b {
  background-color: rgb(216, 51, 51);
  width: 76px;
  text-align: center;
  margin: 2em;
  border-radius: 4px;
  padding: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Light Saber CSS

body{
  background:#112;
  color:#999;
}
.saber {
 
  width: 679px; 
  height: 185px;
  position: relative;
  display: block;
 transition: all .7s ease;
}
.saber img{ 
  width:400px;
  position:absolute;
  top:0;
  left:0;
}
.light {
  background: #FFF;
  height: 40px;
  width: 0px;
  box-shadow: 0 0 12px 8px #001 inset;
  position:absolute;
  top:55px;
  left: 334px;
  border-radius: 20px;
  opacity:0;
  transition: all .2s;
 }
.saber:active .light {
  width: 650px;
  box-shadow: 0 0 22px 9px #F00, 0 0 12px 8px #F00 inset;
  opacity:1;
   
}

.saber:active .luke {
  box-shadow: 0 0 22px 9px #0ff, 0 0 12px 8px #0ff inset;
  
}

.space {
  height: 500px;
}

.saber:active .mace {
  box-shadow: 0 0 22px 9px rgba(247, 0, 255, 0.92), 0 0 12px 8px rgba(247, 0, 255, 0.92) inset;
  
}

iframe{
  display:none
}

//Footer CSS

.footer {
  background: #10142F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgb(171, 170, 170);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
