<div class ="container main" style = "height: 1500px;">
  <div class="row">
    <div class ="col text-center m-4">
      <h1>Champions of The Force</h1>
      <img class ="force-img" src="https://cdn4.iconfinder.com/data/icons/star-wars-13/50/28-512.png">
      <div class ="b">
        <%= link_to "Main", characters_path %>
      </div>
    </div>
  </div>  

  <div class="saber">
    <div class="light luke"></div>
    <a target="sonido"><img src="http://www.starstore.com/acatalog/Vader_LE_Lightsaber-l.gif"></a>
  </div>

  <div class ="container center">
    <% @light.each do |character| %>
      <div class= "row justify-content-center">
        <div class = "card col-4 justify-content-center">
          <h2><a class= "name"><%= link_to character.name, character_path(character) %></a></h2>
          <img src= <%= character.img %> class="char center-block">
        </div>
      </div> 
    <% end %>
  </div>

  <div class="saber">
    <div class="light mace"></div>
    <a target="sonido"><img src="http://www.starstore.com/acatalog/Vader_LE_Lightsaber-l.gif"></a>
  </div>

</div>