.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, rgba(58, 60, 62, 0.858), #100f0fd7);
  border-bottom: white 4px solid;
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.icon {
  font-size: 32px;
  margin: 12px;
}

.icon:hover {
  color: rgb(216, 216, 222);
}